

<div class="calendario-haab">
    <div class="row">
      <div class='col-sm-12' >
        <h1 class="calendario-title">Cholb'al Q'ij {{ anno }} </h1>
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12' >
        <!-- <p class="calendario-sistema">{{ sistema }} </p> -->
      </div>
    </div>
    <div class="row">
      <div class='col-sm-12' >
        <div class='tabla-calendario-haab'>
          {{ tabla_calendario }}
        </div>
      </div>
    </div>
  </div>

</div>
